
.bd{
	height: 882px;
	background: red;
	# background-image: image-url('20450402.jpg');
	background-image: image-url('JP_ASIA_10.jpg');
	color: #ffffff;
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	
	.font{
		margin-top: 110px;
		margin-left: 80px;
	}
}
